<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <?php include 'D:\server\apache\admin\blog\Application\View\Home\Home\link_script.html';?>
<body>
<?php include 'D:\server\apache\admin\blog\Application\View\Home\Home\header.html';?>
<!--start-slider-->
<div class="slider-bg">
    <div class="container">
        <div class="grid-1">
            <div class="col-md-5 left-grid-1 wow bounceInLeft" data-wow-delay="0.4s">
                <h1>Welcome</h1>
                <h2>MY</h2>
                <h3>主页cuioo.cn</h3>
            </div>
            <div class="col-md-7 right-grid-1 wow bounceInRight" data-wow-delay="0.7s">
                <div class="slider">
                    <div class="callbacks_container">
                        <ul class="rslides" id="slider">
                            <li>
                                <img style="height: 383px" src="./public/Home/images/slide1.png" class="img-responsive"
                                     alt=""/>
                            </li>
                            <li>
                                <img src="./public/Home/images/slide2.png" class="img-responsive" alt=""/>
                            </li>
                            <li>
                                <img src="./public/Home/images/slide3.png" class="img-responsive" alt=""/>
                            </li>
                            <li>
                                <img src="./public/Home/images/slide4.png" class="img-responsive" alt=""/>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </script><script src="./public/Home/js/responsiveslides.min.js" ></script>
            <script>
                $(function () {
                    $("#slider").responsiveSlides({
                        auto: true,
                        nav: true,
                        speed: 500,
                        namespace: "callbacks",
                        pager: true,
                    });
                });
            </script>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--//end-slider-->
<!--start-services-->
<div id="about" class="service-section">
    <div class="container">
        <div class="serve-grids wow bounceIn animated" data-wow-delay="0.4s">
            <div class="col-md-4 services-section-grid">
                <div class="services-section-grid-head">
                    <div class="service-icon">
                        <i class="rocket"></i>
                    </div>
                    <div class="service-icon-heading">
                        <h4>凉思
                            唐代：李商隐</h4>
                        <p>客去波平槛，蝉休露满枝。永怀当此节，倚立自移时。
                            北斗兼春远，南陵寓使迟。天涯占梦数，疑误有新知。</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 services-section-grid">
                <div class="services-section-grid-head">
                    <div class="service-icon">
                        <i class="plan"></i>
                    </div>
                    <div class="service-icon-heading">
                        <h4>孤雁二首·其二
                            唐代：崔涂</h4>
                        <p>几行归塞尽，念尔独何之。
                            暮雨相呼失，寒塘欲下迟。
                            渚云低暗度，关月冷相随。
                            未必逢矰缴，孤飞自可疑。</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 services-section-grid lost">
                <div class="services-section-grid-head">
                    <div class="service-icon">
                        <i class="book"></i>
                    </div>
                    <div class="service-icon-heading">
                        <h4>秦中感秋寄远上人 / 秦中寄远上人
                            唐代：孟浩然</h4>
                        <p>一丘常欲卧，三径苦无资。
                            北土非吾愿，东林怀我师。
                            黄金燃桂尽，壮志逐年衰。
                            日夕凉风至，闻蝉但益悲。</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="serve-grids two  wow bounceIn animated" data-wow-delay="0.4s">
            <div class="col-md-4 services-section-grid act">
                <div class="services-section-grid-head">
                    <div class="service-icon">
                        <i class="arrow"></i>
                    </div>
                    <div class="service-icon-heading">
                        <h4>月夜
                            唐代：杜甫</h4>
                        <p>今夜鄜州月，闺中只独看。遥怜小儿女，未解忆长安。
                            香雾云鬟湿，清辉玉臂寒。何时倚虚幌，双照泪痕干。</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 services-section-grid">
                <div class="services-section-grid-head">
                    <div class="service-icon">
                        <i class="download"></i>
                    </div>
                    <div class="service-icon-heading">
                        <h4>春宿左省
                            唐代：杜甫</h4>
                        <p>花隐掖垣暮，啾啾栖鸟过。
                            星临万户动，月傍九霄多。
                            不寝听金钥，因风想玉珂。
                            明朝有封事，数问夜如何。</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 services-section-grid lost">
                <div class="services-section-grid-head">
                    <div class="service-icon">
                        <i class="cloud"></i>
                    </div>
                    <div class="service-icon-heading">
                        <h4>经邹鲁祭孔子而叹之
                            唐代：李隆基</h4>
                        <p>夫子何为者，栖栖一代中。
                            地犹鄹氏邑，宅即鲁王宫。
                            叹凤嗟身否，伤麟怨道穷。
                            今看两楹奠，当与梦时同。</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//end-services-->
<!--/port-section-->
<div id="features" class="port-section">
    <div class="container">
        <h2>最热门文章-评论最多</h2>
        <div class="port-grids">
            <?php foreach($comments as $row):?>
            <?php static $number=1;?>
            <div class="col-md-3 port-grid <?=$number==4?'lost':''?> wow zoomInLeft animated">
                <a href="index.php?p=Home&c=Article&a=content&id=<?=$row['id']?>">
                    <img style="max-height: 333px;max-width: 266px;" src="<?=empty($row['logo'])?'./public/Home/images/p'.mt_rand(1,4).'.jpg':$row['logo'];?>" class="img-responsive" alt=""/>
                </a>
                <div class="box_type">没有图片显示默认</div>
                <div class="box-hover">
                    <ul class="port-icons">
                        <li><i class="per"></i></li>
                        <li><i class="loca"></i></li>
                    </ul>
                </div>
                <div class="text">
                    <a href="index.php?p=Home&c=Article&a=content&id=<?=$row['id']?>"><h3><?=$row['title']?></h3></a>
                    <p><?=mb_substr($row['content'],0,40)?></p>
                </div>
            </div>
            <?php ++$number;?>
            <?php endforeach;?>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--start-bottom-section-->
<div class="container">
    <div class="bottom-section">
        <div class="bottom-top wow fadeInDownBig animated animated" data-wow-delay="0.4s">
            <div class="col-md-10 bottom-text">
                <h3>临江仙·忆昔西池池上饮
                    宋代：晁冲之</h3>
                <p>忆昔西池池上饮，年年多少欢娱。别来不寄一行书。寻常相见了，犹道不如初。
                    安稳锦屏今夜梦，月明好渡江湖。相思休问定何如。情知春去后，管得落花无。</p>
            </div>
            <div class="col-md-2 story"><h4 class="stories"><span><a href="#"><img src="./public/Home/images/mail.png"
                                                                                   class="img-responsive"
                                                                                   alt=""/></a></span></h4></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//end-bottom-section-->
<!--/start-blog-section-->
<div id="blog" class="blog-section">
    <div class="container">
        <h3>收藏最多的文章</h3>
        <div class="blog-grids">
            <div class="col-md-8 blog-left">
                <!--循环最新发布的博客文章-->
                <?php foreach($keep as $article):?>
                <div class="col-md-6 left-img wow bounceInLeft animated" data-wow-delay="0.4s">
                    <a href="index.php?p=Home&c=Article&a=content&id=<?=$article['id']?>">
                        <img style="max-height: 255px" src="<?=empty($article['logo'])?'./public/Home/images/b'.mt_rand(1,2).'.jpg':$article['logo'];?>" class="img-responsive" alt=""/>
                    </a>
                    <a href="index.php?p=Home&c=Article&a=content&id=<?=$article['id']?>"><h4><?=$article['title']?>.</h4></a>
                    <ul class="blog-icons">
                        <li><i class="pencil"></i></li>
                        <li><i class="date"></i></li>
                    </ul>
                    <p><?=mb_substr($article['content'],0,30).'....';?> </p>
                    <a class="read" href="index.php?p=Home&c=Article&a=content&id=<?=$article['id']?>">查看原文<span> </span></a>
                </div>
                <?php endforeach;?>
            </div>

            <div class="col-md-4 testimonal wow bounceInRight animated" data-wow-delay="0.4s">
                <h3>testimonials</h3>
                <div class="test-grid">
                    <div class="col-md-3 test-img">
                        <img src="images/t1.jpg" class="img-responsive" alt=""/>
                    </div>
                    <div class="col-md-9 test-text">
                        <h4>Very pleased with the cool services provided.</h4>
                        <p>Linda Scott / Webdesigner <a href="#">http://www.mywebsite.com</a></p>
                    </div>
                    <div class="clearfix"></div>
                    <p class="test"><span> </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis
                        nulla vel dolor ultrices blandit nec sit amet. turpis. </p>
                </div>
                <div class="test-grid second">
                    <div class="col-md-3 test-img">
                        <img src="images/p3.jpg" class="img-responsive" alt=""/>
                    </div>
                    <div class="col-md-9 test-text">
                        <h4>Very pleased with the cool services provided.</h4>
                        <p>Linda Scott / Webdesigner <a href="#">http://www.mywebsite.com</a></p>
                    </div>
                    <div class="clearfix"></div>
                    <p class="test"><span> </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis
                        nulla vel dolor ultrices blandit nec sit amet. turpis. </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--/start-footer-section-->
<div class="footer-section">
    <div class="container">
        <div class="footer-grids wow bounceIn animated" data-wow-delay="0.4s">
            <div class="col-md-3 footer-grid">
                <h4>About studeon</h4>
                <div class="border2"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id arcu neque, at convallis est
                    felis.</p>
                <p class="sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id arcu neque, at
                    convallis est felis.</p>
            </div>
            <div class="col-md-3 footer-grid tags">
                <h4>the tags</h4>
                <div class="border2"></div>
                <ul class="tag">
                    <li><a href="#">Awesome</a></li>
                    <li><a href="#">Strategy</a></li>
                    <li><a href="#">Photography</a></li>
                    <li><a href="#">Development</a></li>
                    <li><a href="#">Css</a></li>
                    <li><a href="#">photoshop</a></li>
                    <li><a href="#">Html</a></li>
                    <li><a href="#">Awesome</a></li>
                    <li><a href="#">Strategy</a></li>
                    <li><a href="#">Photoshop</a></li>
                    <li><a href="#">Html</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid tweet">
                <h4>latest tweets</h4>
                <div class="border2"></div>
                <div class="icon-3-square">
                    <a href="#"><i class="square-3"></i></a>
                </div>
                <div class="icon-text">
                    <p>I like this awesome freebie. Check it out<a href="#"> @http://t.co/9vslJFpW </a></p>
                    <h5>About 15 mins</h5>
                </div>
                <div class="clearfix"></div>
                <div class="icon-3-square">
                    <a href="#"><i class="square-3"></i></a>
                </div>
                <div class="icon-text">
                    <p>I like this awesome freebie. Check it out<a href="#"> @http://t.co/9vslJFpW </a></p>
                    <h5>About 15 mins</h5>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-3 footer-grid flickr">
                <h4>flickr feed</h4>
                <div class="border2"></div>
                <div class="flickr-grids">
                    <div class="flickr-grid">
                        <a href="#"><img src="./public/Home/images/f1.png" alt=" " title="CEO"/></a>
                    </div>
                    <div class="flickr-grid">
                        <a href="#"><img src="./public/Home/images/f2.png" alt=" " title="GM"/></a>
                    </div>
                    <div class="flickr-grid">
                        <a href="#"><img src="./public/Home/images/f3.png" alt=" " title="CEO"/></a>
                    </div>
                    <div class="clearfix"></div>

                    <div class="flickr-grid">
                        <a href="#"><img src="./public/Home/images/f4.png" alt=" " title="GM"/></a>
                    </div>
                    <div class="flickr-grid">
                        <a href="#"><img src="./public/Home/images/f3.png" alt=" " title="CEO"/></a>
                    </div>
                    <div class="flickr-grid">
                        <a href="#"><img src="./public/Home/images/f2.png" alt=" " title="GM"/></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//end-footer-section-->
<!--/start-copyright-section-->
<div class="copyright">
    <div class="container">
        <div class="logo2  wow bounceInLeft" data-wow-delay="0.4s"><a href="index.html"><img
                src="./public/Home/images/logo2.png" alt="" title="logo"/></a></div>
        <p class="write  wow bounceInRight" data-wow-delay="0.4s">Copyright &copy; 2015.Company name All rights
            reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect
            from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
    </div>
    <div class="clearfix"></div>
</div>

<!--//end-copyright-section-->
	