<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>控制台页面</title>
    <link rel="stylesheet" href="./public/Admin/css/style.default.css" type="text/css" />
    <script type="text/javascript" src="./public/Admin/js/plugins/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="./public/Admin/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="./public/Admin/js/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="./public/Admin/js/plugins/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="./public/Admin/js/plugins/jquery.flot.min.js"></script>
    <script type="text/javascript" src="./public/Admin/js/plugins/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="./public/Admin/js/plugins/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="./public/Admin/js/custom/general.js"></script>
    <script type="text/javascript" src="./public/Admin/js/custom/dashboard.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="./public/Admin/js/plugins/excanvas.min.js"></script><![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="./public/Admin/css/style.ie9.css"/>
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="./public/Admin/css/style.ie8.css"/>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="././public/Admin/js/plugins/css3-mediaqueries.js"></script>
    <![endif]-->
</head>

<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">Ama.<span>Admin</span></h1>
            <span class="slogan">后台管理系统</span>

            <div class="search">
                <form action="" method="post">
                    <input type="text" name="keyword" id="keyword" value="请输入" />
                    <button class="submitbutton"></button>
                </form>
            </div><!--search-->

            <br clear="all" />

        </div><!--left-->

        <div class="right">
            <!--<div class="notification">
                <a class="count" href="./public/ajax/notifications.html"><span>9</span></a>
            </div>-->
            <div class="userinfo">
                <img width="30px" src="./public/Admin/images/thumbs/avatar<?=mt_rand(1,11);?>.png" alt="" />
                <span><?=$_SESSION['admin']['username']?></span>
            </div><!--userinfo-->

            <div class="userinfodrop">
                <div class="avatar">
                    <a href=""><img src="./public/Admin/images/thumbs/avatarbig.png" alt="" /></a>
                    <div class="changetheme">
                        切换主题: <br />
                        <a class="default"></a>
                        <a class="blueline"></a>
                        <a class="greenline"></a>
                        <a class="contrast"></a>
                        <a class="custombg"></a>
                    </div>
                </div><!--avatar-->
                <div class="userdata">
                    <h4><?=$_SESSION['admin']['username']?></h4>
                    <span class="email"><?=$_SESSION['admin']['email']?></span>
                    <ul>
                        <li><a href="./View/User/editprofile.html">编辑资料</a></li>
                        <li><a href="./View/User/accountsettings.html">账号设置</a></li>
                        <li><a href="./View/User/help.html">帮助</a></li>
                        <li><a href="index.php?c=Login&a=logout">退出</a></li>
                    </ul>
                </div><!--userdata-->
            </div><!--userinfodrop-->
        </div><!--right-->
    </div><!--topheader-->


    <div class="header">
        <ul class="headermenu">
            <li class="current"><a href="./index.php?c=MyJump&a=dashboard"><span class="icon icon-flatscreen"></span>首页</a></li>
            <li><a href="./index.php?p=Admin&c=MyJump&a=manageblog"><span class="icon icon-pencil"></span>博客管理</a></li>
            <li><a href="./index.php?p=Admin&c=MyJump&a=messages"><span class="icon icon-message"></span>查看消息</a></li>
            <li><a href="./index.php?p=Admin&c=MyJump&a=reports"><span class="icon icon-chart"></span>统计报表</a></li>
        </ul>

        <div class="headerwidget">
            <div class="earnings">
                <div class="one_half">
                    <h4>Today's Earnings</h4>
                    <h2>$888.88</h2>
                </div><!--one_half-->
                <div class="one_half last alignright">
                    <h4>Current Rate</h4>
                    <h2>88%</h2>
                </div><!--one_half last-->
            </div><!--earnings-->
        </div><!--headerwidget-->

    </div><!--header-->

    <div class="vernav2 iconmenu">
        <ul>
            <li><a href="#formsub" class="editor">表单提交</a>
                <span class="arrow"></span>
                <ul id="formsub">
                    <li><a href="./index.php?p=Admin&c=User&a=index">查看管理员列表</a></li>
                    <li><a href="./index.php?p=Admin&c=Article&a=index">查看文章列表</a></li>
                    <li><a href="./index.php?p=Admin&c=Category&a=index">查看分类列表</a></li>
                    <li><a href="./index.php?p=Admin&c=Reply&a=index">查看留言列表</a></li>
                    <li><a href="./View/User/forms.html">基础表单</a></li>
                    <li><a href="./View/User/wizard.html">表单验证</a></li>
                    <li><a href="./View/User/editor.html">编辑器</a></li>
                </ul>
            </li>
            <!--<li><a href="filemanager.html" class="gallery">文件管理</a></li>-->
            <li><a href="./View/User/elements.html" class="elements">网页元素</a></li>
            <li><a href="./View/User/widgets.html" class="widgets">网页插件</a></li>
            <li><a href="./View/User/calendar.html" class="calendar">日历事件</a></li>
            <li><a href="./View/User/support.html" class="support">客户支持</a></li>
            <li><a href="./View/User/typography.html" class="typo">文字排版</a></li>
            <li><a href="./View/User/tables.html" class="tables">数据表格</a></li>
            <li><a href="./View/User/buttons.html" class="buttons">按钮 &amp; 图标</a></li>
            <li><a href="#error" class="error">错误页面</a>
                <span class="arrow"></span>
                <ul id="error">
                    <li><a href="./View/User/notfound.html">404错误页面</a></li>
                    <li><a href="./View/User/forbidden.html">403错误页面</a></li>
                    <li><a href="./View/User/internal.html">500错误页面</a></li>
                    <li><a href="./View/User/offline.html">503错误页面</a></li>
                </ul>
            </li>
            <li><a href="#addons" class="addons">其他页面</a>
                <span class="arrow"></span>
                <ul id="addons">
                    <li><a href="./View/User/newsfeed.html">新闻订阅</a></li>
                    <li><a href="./View/User/profile.html">资料页面</a></li>
                    <li><a href="./View/User/productlist.html">产品列表</a></li>
                    <li><a href="./View/User/photo.html">图片视频分享</a></li>
                    <li><a href="./View/User/gallery.html">相册</a></li>
                    <li><a href="./View/User/invoice.html">购物车</a></li>
                </ul>
            </li>
        </ul>
        <a class="togglemenu"></a>
        <br /><br />
    </div><!--leftmenu-->